[user]
	name = Andrew Williams
	email = andy@tensixtyone.com
	signingkey = 86DAB9F71FF20A3A
[core]
	editor = nano

[alias]
	prune = fetch --prune
	co = checkout
	dist = "!git archive --format=tar -v --prefix=$(git describe HEAD)/ $(git describe HEAD) | gzip -9 > ../$(git describe HEAD).tar.gz"

[include]
    path = ~/.gitconfig-win