[user]
	name = Andrew Williams
	email = andy@tensixtyone.com

[core]
	excludesfile = ~/.gitignore_global

[alias]
	prune = fetch --prune
	co = checkout
	rh = reset --hard
	dist = "!git archive --format=tar -v --prefix=$(git describe HEAD)/ $(git describe HEAD) | gzip -9 > ../$(git describe HEAD).tar.gz"

[include]
	path = ~/.gitconfig-gpg
	path = ~/.gitconfig-local

[init]
	defaultBranch = main

[pull]
	ff = only


[url "ssh://git@github.com/2315-Media"]
	insteadOf = "https://github.com/2315-Media"
