[user]
	name = Andrew Williams
	email = andy@tensixtyone.com

[core]
	excludesfile = ~/.gitignore_global

[alias]
	prune = fetch --prune
	co = checkout
	rh = reset --hard
	dist = "!git archive --format=tar -v --prefix=$(git describe HEAD)/ $(git describe HEAD) | gzip -9 > ../$(git describe HEAD).tar.gz"

[init]
	defaultBranch = main

[pull]
	ff = only
	rebase = true

[column]
	ui = auto

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

[push]
	autoSetupRemote = true
	followTags = true
	default = simple

[fetch]
	all = true

[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true

[url "ssh://git@github.com/2315-Media"]
	insteadOf = "https://github.com/2315-Media"

[include]
	path = ~/.gitconfig-gpg
	path = ~/.gitconfig-work
	path = ~/.gitconfig-local
