[*]
end_of_line = lf
insert_final_newline = true

[*.sh]
indent_style = space
indent_size = 4

[{*.bash,*.zsh}]
indent_style = space
indent_size = 4

[{*.json,*.toml,*.yaml,*.yml}]
indent_style = space
indent_size = 2
